-#  This file is app/views/tagged_posts/index.html.haml
= render 'shared/header_tag'
= render 'shared/new_tagged_post'

%br
- @taggedposts.each do |p|
    = render 'shared/indiv_tagged_post', :post => p