-#  This file is app/views/tagged_posts/index.html.haml
= render 'shared/header_tag'

%br
%br
- @taggedposts.each do |p|
    = render 'shared/indiv_tagged_post', :post => p

- if user_signed_in?
    = link_to 'Share Goal', new_tagged_post_path, :method => :get, :class => "submits"
    = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "logins"