%div{:class => "post" }
    %div{:class => "content" }
        %p= post.content
    %div{:class => "user" }
        %p= post.user
    %div{:class => "timestamp" }
        %p= post.created_at.strftime("%m/%d/%Y at %l:%M%p")
%br