%div{:class => "post" }
    %div{:class => "content" }
        %p= post.content
    %div{:class => "user" }
        %p= User.find(post.user_id).username
    %div{:class => "timestamp" }
        %p= post.created_at.strftime("%m/%d/%Y at %l:%M%p")
    =link_to "#{post.comments.count} Comments", post_comments_path(post)

%br