%div{:class => "post" }
    %div{:class => "content" }
        %p= post.content
    %div{:class => "user" }
        %p= post.user
    %div{:class => "timestamp" }
        %p= post.created_at
    =link_to "#{post.comments.count} Comments", post_comments_path(post)
%br