%div{:class => "comment" }
    %div{:class => "body"}
        %p= comment.body
    %div{:class => "user" }
        %p= comment.username
    %div{:class => "timestamp" }
        %p= comment.created_at
%br