%div{:class => "post" }
    %div{:class => "content" }
        %p= post.content
    %div{:class => "user" }
        %p= post.user
    %div{:class => "timestamp" }
        %p= post.created_at.strftime("%m/%d/%Y at %l:%M%p")
<<<<<<< HEAD
    =link_to "#{post.comments.count} Comments", post_comments_path(post)
=======
>>>>>>> e72611535a190db4546a9931ec51178d63afe2c6
%br