<body class="Welcome">
%br
<h1>Visionaria</h1>
%div{:class => "sign_ins" }
    = link_to 'Login', new_user_session_path
    = link_to 'Sign up', new_user_registration_path
    = link_to image_tag('fb_login.png'), user_facebook_omniauth_authorize_path
</body>