%h1 Make New Post
- if !user_signed_in?
    redirect_to root
= form_tag :action => 'create', :method => :post do
    = label_tag :content, 'Your Thoughts'
    = text_field_tag :content
    = submit_tag 'Submit'