= render 'shared/header'
%br
%br
= render 'shared/indiv_post', :post => @post

- if user_signed_in?
    = link_to 'Back to Visions', post_index_path, :method => :get, :class => "submits"
    = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => "logins"