-#  This file is app/views/post/index.html.haml
= render 'shared/header_post'
%div{:class => "facebook_share"}
    Like us? Share us with your friends on facebook! 
    <div class="fb-share-button" data-href="https://visionaria-app.herokuapp.com" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvisionaria-app.herokuapp.com%2F&amp;src=sdkpreparse">Share</a></div>
= render 'shared/new_post'

%br
- @posts.each do |p|
    = render 'shared/indiv_post', :post => p