// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post, .tag_post {
    margin: auto;
    background-color: LightSlateGray;
    border: 3px solid SteelBlue;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    width: 75%;
}

.post:hover, .tag_post:hover{
    background-color: SlateGray;
}

.content {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    padding-left: 30px;
}

.user, .timestamp {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
}

.timestamp {
    font-style: italic;
}

.filters {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
}

/***.social-share-button-facebook {
	width: 16px;
	height: 16px;
	background: url("/social/facebook.png") no-repeat;
	float: right;
}***/

textarea { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 100px;
}